.progressBar {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 4px;
  background-color: var(--tgui--accent_text_color);
  opacity: 0;
  animation-name: progress-bar-transition;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes progress-bar-transition {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
